<div class="note-edit">
<h3>Edit your note</h3>
</div>


<%= render 'form' %>
<button type="button" class="btn btn-success"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span><%= link_to "Back", note_path %></button>


