<div id="notes">

  <%= render partial: 'calendar', locals: {current_date: @date, notes_by_date: @notes_by_date} %>

</div>


<div class="note_comments">
  <h2>Comments:</h2>
  <% Note.includes(:comments).all.each do |note| %>
      <div class="note_title">
        <h4>Note title: <%= link_to note.title, note_path(note) %></h4>
        <h5><%= 'Comments:' unless note.comments.empty? %></h5>
        <% note.comments.each do |comment| %>
            <%= comment.content %>
        <% end %>
      </div>
  <% end %>
</div>