<div id="notes">

  <%= render partial: 'calendar', locals: {current_date: @date, notes_by_date: @notes_by_date} %>

</div>


<div class="note_comments">
  <h2>Comments:</h2>
  <% Note.includes(:comments).all.each do |note| %>
         <p class="note_comm">
          <% note.comments.each do |comment| %>
            <%= comment.content %>
          <% end %>
        </p>

        <div class="note_title">
          <h4><span class="glyphicon glyphicon-arrow-right"aria-hidden="true"></span> <%= link_to note.title, note_path(note) %></h4>
        </div>
       
  <% end %>
</div>