<div class="comment clearfix">
	<div class="comment_content">
		<class="comment_content"><%= " #{comment.content}" %>
	</div>

	<div class="commentremovebtn">
	<button type="button" class="btn btn-danger btn-xs"><%= link_to 'Remove', [comment.note, comment], method: :delete, data: { confirm: "Are you sure?" } %></button>
	</div>
</div>

