@import "bootstrap-sprockets";
@import "bootstrap";

body {
	margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-left: 100px;
}


nav p {
	text-align: center;
}

span {
	padding-left: 15px;
}

.jumbotron h1,h3 {
	text-align: center;
	
}

.form-inputs .form-test {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
	border-radius: 10px;
    border: 1px solid #cccccc;
    padding: 20px;
    width: 220px;
    height: 250px; 
}

.form-inputs {
	text-align: center;
	padding-bottom: 3px;
}

.form-actions {
	text-align: center;
	padding-top: 10px;

}


.shared-links {
	text-align: center;
	padding-top: 10px;
	padding-left: 0px;

}

.sign-in {
	text-align: center;

}

.sign-up {
	text-align: center;

}

.navbar .container {
    left:25px;
	padding-top: 12px;
}

.navbar .container .btn {
	position:absolute;
    right: 25px;
}

.index-note {
	margin-left: -80px
}

.commentremovebtn {
	color: white;
}
 
.container .navtxt {
	text-align: center;
	padding-top: 3px;
}

.green {
	color: #29A329;
}

.orange {
	color: #FF6C47;
}

.container .btn {
	padding-top: 2px;
}

.navbar {
	background-color: #474747;

	
}

.navbar-brand p {
	color: #B8B8B8;
	font-family: 'Niconne', cursive;
	font-size: 27px;
}

.navbar-brand .glyphicon {
	font-size: 20px;
	
}

.link-to-text-color {
	color: #B8B8B8;


}

.link-to-text-color:hover {
	color: #959595;
	text-decoration: none;
}

.link-to-text-color:active {
	color: #959595;
	text-decoration: none;
}


.btnsignout .btn {
	background-color: #BFBFBF;
	border-width: 1px;
	border-color: #868686;



}

.btnsignout .btn:hover {
	background-color: #ACACAC;
}

.btnsignout .btn .link-to-text-color {
	color: #474747;
	
}

.fields {
	width: 100px;
	height: 50px;
}

