// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


abbr[title="required"] {
  display: none;

  
}



.note-input {
	text-align: center;
  margin-left: auto;
  margin-right: auto;
	border-radius: 10px;
  border: 1.5px solid  #B4B4B4;
  background: #DEDEDE;
  padding: 20px;
  width: 700px;
  height: 400px; 
}



.note-input .simple_form label {
  float: left;
  width: 50px;
  text-align: center;
  margin: 2px 10px;
  text-transform: capitalize;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;


}

.note-input .simple_form div.input {
  margin-bottom: 10px;
}


.note-input label .string_required {
  text-align: left;
    
    
}

.note-input .btn-success {
  margin-left: 68px;

}

.notetitle {
    width: 350px;
    border-radius: 5px;
    background: #FFFFFF;
    border: 1px solid  #B4B4B4;
    outline: none;
    text-align: center;
   
}

.notetitle:focus {
  border: 1px solid #FF9933;
  box-shadow: 0px 0px 3px 1px #FFAC59;
}

.notetitle:title {
  text-align: center;
}

.notecontent {
    width: 450px;
    height: 200px;
    border-radius: 5px;
    background: #FFFFFF;
    border: 1px solid  #B4B4B4;
    outline: none;

}

.notecontent:focus {
  border: 1px solid #FF9933;
  box-shadow: 0px 0px 3px 1px #FFAC59;
}

.createdat {
    width: 100px;
    height: 28px;
    border-radius: 5px;
    background: #FFFFFF;
    border: 1px solid  #B4B4B4;
    outline: none;
    
 
}

.createdat:focus {
  border: 1px solid #FF9933;
  box-shadow: 0px 0px 3px 1px #FFAC59;
}

.notecategory {
    width: 115px;
    height: 30px;
    border-radius: 5px;
    background: #FFFFFF;
    border: 1px solid  #B4B4B4;
    outline: none;
    
}


.notecategory:focus {
  border: 1px solid #FF9933;
  box-shadow: 0px 0px 3px 1px #FFAC59;
}



h1 {
	text-align: center;
	font-family: 'Niconne', cursive;
}

.show-note {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 110px;
  padding-top: -40px;
  border-radius: 10px;
  border: 1.5px solid #B4B4B4;
  padding: 20px;
  width: 660px;
  height: 200px; 
  background:  #DEDEDE;
}

.overview h3 {
  font-family: 'Niconne', cursive;
  font-size: 33px;
}

.commbox h3 {
  font-family: 'Niconne', cursive;
  font-size: 33px;
}

.commentbox {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  border: 1.5px solid #B4B4B4;
  padding: 20px;
  width: 660px;
  height: 120px;
  background: #DEDEDE;
}

.commentbox .simple_form label {
  float: left;
  width: 50px;
  text-align: center;
  margin: 2px 10px;
  text-transform: capitalize;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;

}

.commentbox .simple_form div.input {
  margin-bottom: 3.5px;
}


.commentbox label .string_required {
  text-align: left;
    
    
}

.commentbox .btn {
  margin-right: 0px;


}

.commentbox .commentcont {
    width: 450px;
    height: 50px;
    border-radius: 5px;
    background: #ffffff;
    border: 1px solid #cccccc;
    outline: none;
    text-align: left;
   
}

.commentbox .commentcont:focus {
  border: 1px solid #FF9933;
  box-shadow: 0px 0px 3px 1px #FFAC59;
}


.show-note h1 {
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 30px;
}

.show-note h3 {
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
}

.link-color:active {
    text-decoration: none;
    color: white;
}

.link-color:hover {
    text-decoration: none;
    color: white;
}

.link-color:visited {
    text-decoration: none;
    color: white;
}

.link-color:link {
    text-decoration: none;
    color: white;
}

.note-index h3 {
    text-align: left;
}

.note-edit h3 {
  text-align: center;
  font-family: 'Niconne', cursive;
  font-size: 35px;
}

.note-edit button {
  margin-left: 790px;

}


.note_comments {
  text-align: center;

  
}



.black {
  font-size: 15px;
}

/*CALENDAR*/

#notes .calendar {
  border-collapse: collapse;
  width: 100%;


  td, th {
    font-family: "Lucida Grande", arial, helvetica, sans-serif;
    font-size: 10px;
    padding: 6px;
    border: 1px solid #999;
  }

  th {
    background: #DDD;
    color: #666;
    text-align: center;
    width: 14.2857142857143%;
  }

  td {
    background: #FFF;
    color: #777;
    height: 80px;
    vertical-align: top;
    font-size: 16px;
  }

  .notmonth, .notmonth a { color: #CCC; }
  .today { background-color: #D7F2FF; }
}

#notes #month {
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
  font-size: 22px;
  a {
    text-decoration: none;
    padding: 0 10px;
    color: #999;
  }
}

#notes ul {
  font-size: 11px;
  padding-left: 20px;
  
}