// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.note-input {
	text-align: center;
    margin-left: auto;
    margin-right: auto;
	border-radius: 10px;
    border: 1px solid #cccccc;
    padding: 20px;
    width: 700px;
    height: 400px; 
}

.note-input .btn {
    
}

h1 {
	text-align: center;
	font-family: 'Niconne', cursive;
}

.show-note {
    text-align: left;
}

.show-note h1 {
    text-align: left;
    font-family: 'PT Sans', sans-serif;
    font-size: 30px;
}

.show-note h3 {
    text-align: left;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
}

.link-color:active {
    text-decoration: none;
    color: white;
}

.link-color:hover {
    text-decoration: none;
    color: white;
}

.link-color:visited {
    text-decoration: none;
    color: white;
}

.link-color:link {
    text-decoration: none;
    color: white;
}

.note-index h3 {
    text-align: left;
}